.main-menu {
    width: 25%;
    height: 100%;
    font-family: 'Be Vietnam', sans-serif;

    margin-right: 20px;
}

.main-menu a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    /* font-family: Oswald; */
    font-size: 20px;
    padding-left: 20px;
    border-bottom: 2px solid grey;

    cursor: pointer;
}

.main-menu li:hover {
    background-color: rgb(203, 203, 203);
}

.avatar-user {
    height: 45px;
    width: 45px;
    margin-right: 10px;

    border-radius: 50px;
}

.main-menu i {
    margin-right: 10px;
    height: 45px;
    width: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .main-menu{
        display: none;
    }
}