.main-service-details {
    width: 100%;
    height: 100%;

    /* background-color: rgb(241, 241, 241); */
    /* background-color: rgb(238, 238, 238); */
    background-color: #fff;
}

.main-service-details .navbar {
    /* height: 80px; */
    width: 100%;

    padding: 0px;
}
.main-service-details .container{
    width: 70%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.main-service-details .price{
    text-align: center;
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
}
.main-service-details .price div{
    width: 300px;
    border: 1px solid #000;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: Oswald;
    text-transform: uppercase;

    /* color: #fc3; */
    font-size: 25px;
}
.main-service-details .price div strong{
    font-size: 30px;
}
.banner{
    background-color: #000;
    display: flex;
    /* flex-direction: c; */
    justify-content: center;
    box-shadow: 0px 30px 25px rgb(123, 122, 122);
    margin-bottom: 50px;

}
.banner .img-banner{
    height: auto;
    max-height: 500px;
    min-width: 300px;
    object-fit: fill;
    /* box-shadow: 0px 30px red; */
}
.info{
    display: flex;
    justify-content: center;
}
.info .des{
    /* width: 60%; */
    width: 80%;
    font-style: italic;
    font-size: large;
    text-indent: 60px;
}

.main-service-details .group-button
{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.main-service-details .button{
    border: none;
    border-radius: 5px;
    height: 48px;

    padding-left: 25px;
    padding-right: 25px;

    font-weight: 500;
}
.main-service-details .left {
    border: 1px solid #000;
    margin-right: 10px;
}
.main-service-details .right{
    background-color: #fc3;
    margin-left: 10px;
}