.main-vnpay{
    display: flex;
    justify-content: center;
}

.main-vnpay .payment-error, .payment-success{
    height: 500px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.payment-error .error-lable{
    font-size: 50px;
    font-family: Oswald;
    color: #000;
}
.payment-error i{
    color: #dc3545;
    margin-left: 20px   ;
}

.payment-success i{
    color: #198754;
    margin-left: 20px   ;
}
.payment-success .success-lable{
    font-size: 50px;
    font-family: Oswald;
    /* color: #fc3; */
}

.main-vnpay .button{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #fc3;
    font-family: Oswald;
    font-size: 18px;
    color: #000;
}
.button:hover{
    color: #000;
}

.main-vnpay .money{
    color: #fc3;
    margin-left: 10px;
    margin-right: 10px;
}

.main-vnpay .back{
    margin-left: 10px;
    border: 1px solid;
    background-color: #fff;
}