.main-my-history-booking {
    width: 100%;
    height: 100%;
    background-color: rgb(238, 238, 238);
}

.main-my-history-booking .navbar {
    width: 100%;

    padding: 0px;
}

.main-my-history-booking .main {
    /* margin-top: 50px; */
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
}

.main-my-history-booking .content {
    margin-top: 30px;
    width: 80%;
    height: 100%;

    display: flex;

}

/* .main-my-history-booking .content .menu {
    width: 30%;
    height: 100%;
} */

.main-my-history-booking .table-history {
    width: 75%;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
    /* margin-left: 20px; */
    min-height: 400px;
    padding: 20px;
}
.main-my-history-booking .table-history td{
    padding: 15px 0px;
}

/* ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-my-history-booking .content li {
    height: 60px;
    display: flex;
    align-items: center;
    font-family: Oswald;
    font-size: 20px;
    padding-left: 20px;
    border-bottom: 2px solid grey;

    cursor: pointer;
}

.main-my-history-booking .content li:hover {
    background-color: rgb(203, 203, 203);
}

.avatar-user {
    height: 45px;
    width: 45px;
    margin-right: 10px;

    border-radius: 50px;
}

.main-my-history-booking .content i {
    margin-right: 10px;
    height: 45px;
    width: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
} */

.main-my-history-booking .table-history label {
    font-family: sans-serif;
}

.main-my-history-booking .table-history .row {
    margin-bottom: 15px;
}

.main-my-history-booking .table-history .col {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-my-history-booking .table-history input,
select {
    height: 48px;

    font-family: sans-serif;

    border: 1px solid #e8e8e8;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: rgb(239, 239, 239);
}

.main-my-history-booking .table-history input:focus {
    outline: none;
}

.main-my-history-booking .table-history button {
    border: none;
    border-radius: 5px;
    height: 45px;

    background-color: #fc3;
    font-family: Oswald;
    font-size: 20px;

    min-width: 70px;
}


.main-my-history-booking .table-history .verify {
    background-color: #fff;
    border: 1px solid #000;
    margin-left: 10px;
}

.main-my-history-booking .menu a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.main-my-history-booking .done {
    background-color: #fc3;
    color: #000;
    border: none;
}
.main-my-history-booking .wait {
    background-color: var(--green);
    color: #fff;
    border: none;
}

.success:hover,
.success:active {
    background-color: #fc3;
    color: #000;
}



.view-more{
    text-decoration: underline;
    color: #fc3;
    cursor: pointer;
}

.view-more:hover{
    color: rgb(185, 139, 2);
}

@media screen and (max-width: 1300px) {
    .hiden {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .btn {
        width: 100px;
    }
    .menu{
    }

    .main-my-history-booking .table-history{
        width: 100%;
    }
}