.main-hair-style {
    width: 100%;
    height: 100%;

    background-color: #fff;
}

.main-hair-style .navbar {
    /* height: 80px; */
    width: 100%;

    padding: 0px;
}

.main-hair-style .main {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;

    padding-top: 50px;
}

.main-hair-style .group-main {
    height: 100%;
    width: 80%;
}

.main-hair-style .group-category {
    display: flex;
}

.group-category .btn {
    height: 45px;
    width: 150px;
    border: none;
    background-color: black;
    color: #fff;

    font-family: Oswald;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .group-category .btn{
    border: none;
    background-color: black;
    color: #fff;

    font-family: Oswald;
    margin-right: 20px;
} */

.group-category .on-focus {
    background-color: #fff;
    color: black;

    border: 1px solid black;
}

.group-category i {
    margin-right: 5px;
}

.like-number {
    background-color: #fc3;
    font-family: sans-serif;
    height: 20px;
    width: 20px;

    border-radius: 50%;
    margin-left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-hair-style .title-hair-style {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    font-family: Oswald;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
}

.main-hair-style .title-hair-style span {
    font-weight: 700;
}

.main-hair-style .list-hair-style {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    /* gap: 10px; */

    height: auto;
    background-color: #fff;
}

.main-hair-style .title-list-hair-style {
    /* width: 80%; */
    height: 50px;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;

    font-family: Oswald;
    font-size: 25px;
    font-weight: 600;
    padding-left: 5px;
    /* margin-left: 10px; */

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-left: 10px solid #fc3;
}

@media screen and (max-width: 1500px) {
    .main-hair-style .list-hair-style {
        grid-template-columns: 25% 25% 25% 25%;
    }
}
@media screen and (max-width: 1300px) {
    .main-hair-style .list-hair-style {
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (max-width: 850px) {
    .main-hair-style .list-hair-style {
        grid-template-columns: 50% 50%;
    }
}
@media screen and (max-width: 650px) {
    .main-hair-style .list-hair-style {
        grid-template-columns: 100%;
    }
}